* {
	box-sizing: border-box;
	margin: 0px;
}

a {
	text-decoration: none;
}


@font-face { 
    font-family: "Lato";
    src: url(fonts/Lato-Regular.ttf)
}

@font-face { 
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Bold.ttf);
    src: url(fonts/OpenSans-Light.ttf)
}


header {
	height: 789px;
	background-color: black;
	padding-top: 60px;
}


.wrap {
	width: 1140px;
	margin: auto;

}


.logo {
  font-size: 24px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  z-index: 301;

}


nav {
	display: flex;
	justify-content: space-between;
}


.nav {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.714;
  text-align: left;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}


nav ul li {
	margin-right: 30px;
}


nav ul .home_text::after {
	content: "";
	display: block;
	background-color: rgb(252, 172, 69);
	width: 31px;
  height: 3px;
  margin: auto;
  margin-top: 17px;
}

nav ul li:hover::after {
	content: "";
	display: block;
	background-color: rgb(252, 172, 69);
	width: 31px;
  height: 3px;
  margin: auto;
  margin-top: 17px;
}



.title {
  font-size: 44px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgb(153, 153, 153);
  text-transform: uppercase;
  line-height: 0.545;
  text-align: center;
  margin-top: 204px;
}


.subtitle {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.749);
  line-height: 1.2;
  text-align: center;
  margin-top: 24px;
}


.title span {
	color: #fcac45;
	font-weight: bold;
}



.subtitle span {
	font-weight: bold;
}



.strelka {
  /*background-color: rgba(255, 255, 255, 0.749);*/
  color: rgba(255, 255, 255, 0.749);
  text-align: center;
  margin-top: 7px;
  font-size: 25px;
}


.circle {
	width: 50px;
	height: 50px;
	border: solid white 2px;
	border-radius: 40px;
	margin:auto;
	margin-top: 287px;\
}

.circle:hover {
	background-color: white;
}

.strelka:hover {
	color: black;
}




/* TWO BLOCK */
/* TWO BLOCK */
/* TWO BLOCK */
/* TWO BLOCK */
/* TWO BLOCK */





.underheader {
  height: 613px;

}


.wrap1 {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 104px;

}


.imac {
  background-image: url(images/imac.png);
  height: 410px;
  width: 510px;
  background-repeat: no-repeat;
  text-align: left;
}


.titles_2 {
  height: 60px;
  width: 420px;

}



.about_us {
  font-size: 20px;
  font-family: "OpenSans";
  color: rgb(99, 99, 99);
  text-transform: uppercase;
  line-height: 1.865;
  text-align: left;


}


.some_words {
  font-size: 34px;
  font-family: "OpenSans";
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 1.097;
  text-align: left;

}


.some_words::after {
  content: "";
  display: block;
  height: 5px;
  width: 100px;
  background-color: orange;
  margin-top: 22px;
}



.under_title_some_text {
  height: 63px;
  width: 403px;
  margin-top: 60px;
}


.under_title_some_text span{
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(108, 108, 108);
  line-height: 1.389;
  text-align: left;

}



.paragraph {
  height: 82px;
  width: 402px;
  margin-top: 30px;
}



.text_para {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(90, 90, 90);
  line-height: 1.389;
  text-align: left;
  list-style-image: url(images/circle.png);

}


.paragraph ul {
  padding: 20px;

}




.border_button {
  height: 46px;
  width: 194px;
  border: solid 1px rgb(97, 97, 97);
  border-radius: 5px;
  padding-top: 7px;
  margin-top: 55px;
}



.li_button {
  font-size: 12px;
  font-family: "OpenSans";
  color: rgb(97, 97, 97);
  text-transform: uppercase;
  line-height: 2.775;
  text-align: left;
  list-style-image: url(images/ipapka.png);
}




.right_content {
  text-align: right;
}






/*THREE BLOCK */
/*THREE BLOCK */
/*THREE BLOCK */
/*THREE BLOCK */




.three_block {
  height: 728px;
  background-color: black;
}


.wrap2 {
  width: 1140px;
  margin: auto;
  padding-top: 102px;

}


.meet_our_team {
  text-align: center;
  font-size: 44px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.545;
}



.orange_line {
  display: block;
  height: 5px;
  width: 99px;
  background-color: orange;
  margin: auto;
  margin-top: 31px;
}



.orange_line::after {
  content: '';
  display: block;
  height: 5px;
  width: 66px;
  background-color: #b37b33;
  margin: auto;
  margin-top: 10px;
}



.blocks_persons {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-top: 108px;
}


.person1 {
  height: 305px;
  width: 246px;

}


.ava_person1 {
  height: 129px;
  width: 129px;
  border-radius: 50%;
  background-color: #d7d7d7;
  margin: auto;
}


.person1 p {
  text-align: center;
}


.name {
  font-size: 20px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  margin-top: 26px;

}


.specialty {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-top: 14px;
}



.description {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.714;
  text-align: center;
  margin-top: 41px;
}




.four_block {
  height: 735px;
  background-color: white;
}




.wrap3 {
  width: 1140px;
  margin: auto;
  padding-top: 105px;

}


.take_a_look {
  text-align: center;
  font-size: 44px;
  font-family: "OpenSans";
  color: black;
  text-transform: uppercase;
  line-height: 0.545;
}